<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../paper-input/paper-input.html">
<link rel="import" href="../iron-icon/iron-icon.html">
<link rel="import" href="../iron-icons/iron-icons.html">
<link rel="import" href="../paper-button/paper-button.html">

<dom-module id="fotosocial-loggin">
  <template>
    <style>
      :host {
        display: block;
      }

      .container {
        display: flex;
        flex-direction: column;
        background-color: var(--fotosocial-loggin-background-color, #F2F2F2);
        padding: 20px;
        border: 1px solid;
      }
      .button-container {
        text-align: right;
      }
    </style>
    <div class="container">
      <paper-input label="Usuario" value="{{user::input}}" >
        <iron-icon icon="account-circle" slot="suffix"></iron-icon>
      </paper-input>
      <paper-input label="Contraseña" type="password" value="{{password::input}}">
        <iron-icon icon="lock" slot="suffix"></iron-icon>
      </paper-input>
      <div class="button-container">
        <paper-button disabled$="[[logginDisabled]]" on-click="_clickLoggin" raised>
          Ingresar
        </paper-button>
        <paper-button on-click="_register" raised>
          Registrar
        </paper-button>
      </div>
    </div>
  </template>

  <script>
    /**
     * `fotosocial-loggin`
     * Polymer element loggin
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class FotosocialLoggin extends Polymer.Element {
      static get is() { return 'fotosocial-loggin'; }
      static get properties() {
        return {
          logginDisabled: {
            type: Boolean,
            value: true,
            computed: '_validate(user,password)'
          },
          user: {
            type: String,
            value: ''
          },
          password: {
            type: String,
            value: ''
          }
        };
      }

      _validate(user, password) {
        return !(user !== '' && password !== '');
      }

      _register(event) { 
        this.dispatchEvent(new CustomEvent('click-register', {
          bubbles: true,
          composed: true,
          detail: 'fotosocial-register'
        }));
      }

      _clickLoggin(e) {
        this.dispatchEvent(new CustomEvent('click-loggin', {
          bubbles: true,
          composed: true,
          detail: {
            user: this.user,
            password: this.password
          }
        }));
      }
    }

    window.customElements.define(FotosocialLoggin.is, FotosocialLoggin);
  </script>
</dom-module>